<!-- TITLE -->
<% content_for :title do %> Prestadores - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<h1>Prestadores</h1>

<div id="guardaPesquisa">
  <%= form_for :filtro, :url => search_providers_path, :method => "GET" do |f| %>
    <ul>
      <li class="noPaddingHomes">
        <label for="campoNome">Nome</label>
        <%= f.text_field :rg, :class => "inputGde input", :id => 'name' %>
      </li>

      <li class="escondidoPesquisaAvancada">
        <label for="campoNome">Estado</label>
        <%= f.text_field :contry_id, :class => "inputPeq input", :id => 'country_id' %>
        <label for="campoNome">Cidade</label>
        <%= f.text_field :city, :class => "inputPeq input", :id => 'city' %>
      </li>

      <li class="escondidoPesquisaAvancada">
        <label for="campoNome">CPF</label>
        <%= f.text_field :cpf, :class => "inputGde input", :id => 'cpf' %>
      </li>

      <li class="escondidoPesquisaAvancada">
        <label for="campoNome">RG</label>
        <%= f.text_field :rg, :class => "inputGde input", :id => 'rg' %>
      </li>

      <li class="escondidoPesquisaAvancada">
        <label for="campoNome">Serviço:</label>
        <%= f.select :service_id, Service.all.collect {|s| [s.name, s.id] }, { :include_blank => true }, :class => "select" %>
      </li>

      <li class="escondidoPesquisaAvancada">
        <label for="campoNome">Ativo:</label>
        <%= f.select :active, [["Sim",true],["Não",false]], { :include_blank => true }, :class => "select" %>
      </li>

      <li class="liPesquisaAvancada">
        <%= link_to 'Pesquisa avançada', 'javascript:void(0);', :class => 'pesquisaAvancada', :id => 'btPesquisaAvancada' %>
        <%= f.submit 'Pesquisar', :class => 'btEditarForm', :id => 'ajaxBtRealizarPesquisa' %>
      </li>
    </ul>
  <% end %>
  <%= link_to 'Novo Prestador', new_provider_path, class: "btEnviarForm" %>
</div>

<div id="guardaAtividadesRecentes">
  <h2>Últimos prestadores</h2>
  <% @providers.each do |provider| %>
    <p>
      <span><%= provider.name %></span>
      <%= link_to 'Editar', edit_provider_path(provider), :class => 'btVoltarForm' %>
    </p>
  <% end %>
</div>

<div id="guardaResultadoPesquisa">
</div>
<script type="text/javascript" charset="utf-8">
$("#ajaxBtRealizarPesquisa").click(function(e){
  e.preventDefault();

  $.ajax({
    url:  "<%= search_providers_path %>",
    type: "GET",
    data: {
      "filtro" : {
        "name"       : $("#name").val(),
        "country_id" : $("#country_id").val(),
        "city"       : $("#city").val(),
        "cpf"        : $("#cpf").val(),
        "rg"         : $("#rg").val(),
        "service_id" : $("#filtro_service_id").val(),
        "active"     : $("#filtro_active").val()
      }
    }
    }).done(function(data){
    $("#guardaResultadoPesquisa").html(data);
    $("#guardaResultadoPesquisa").slideDown(500);
  });
});
</script>
