<%= form_for @service do |f| %>
  <%= render "shared/error_messages", :record => @service %>
  <ul>
    <li>
      <label>
        <span>Nome:</span><br/>
        <%= f.text_field :name, :class => "inputMedio input", :id => "campoNome"%>
      </label>
    </li>

    <li>
      <label>
        <span>Numero de Dias:</span><br/>
        <%= f.text_field :number_days, :class => "inputMedio input", :id => "number_days" %>
      </label>
    </li>

    <li>
      <label>
        <span>Tempo Estimado:</span><br/>
        <%= f.text_field :estimated_time, :class => "inputMedio input", :id => "estimated_time" %>
      </label>
    </li>

    <li>
      <label>
        <span>Valor Padrão:</span><br/>
        <%= f.text_field :default_value, :class => "inputMedio input", :id => "default_value" %>
      </label>
    </li>

    <li>
      <label>
        <span>Inativo:
        <%= f.check_box :inactive, :class => "input", :id => "inactive" %></span>
      </label>
    </li>

     <li class='textAreaDescricao'>
      <label>
        <span>Descrição:</span><br/>
        <%= f.text_area :description, :class => "textarea", :id => "description" %>
      </label>
    </li>

    <li id="btEnviarForm">
      <%= f.submit %>
      <%= link_to 'Voltar', services_path, :id => "btVoltarForm" %>
    </li>
  </ul>
<% end %>
