<!-- TITLE -->
<% content_for :title do %> <%= @interested.name %> - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<h1>Interessado</h1>

<ul>
	<li><strong><%= @interested.name %></strong></li>
	<li><strong>E-mail:</strong> <%= @interested.email %></li>
	<li><strong>Telefone:</strong> <%= @interested.phone %></li>
	<li><strong>Situação:</strong> <%= @interested.real_situation %></li>
	<li><strong>Interesses:</strong> <%= @interested.interest %></li>
</ul>

<ul>
	<li><%= link_to "Editar", interested_edit_path, :class => "btEnviarForm" %></li>
</ul>

<ul id="guardaHistoricoContatos">
	<li>
		<p class="historicoContatos">
			<span>Histórico de Contatos</span>
			<%= link_to "Novo", interested_history_path, :class => "btEnviarForm floatRight", :id => "btNovoHistoricoContato" %>
		</p>
	</li>
	<% @interested_contact.each do |c| %>
	<li>
		<p>
			<span><%= c.date %></span> - <span><%= c.description %></span>
		</p>
	</li>
	<% end %>
</ul>

<ul>
	<li><%= link_to "Voltar", interested_path, :class => "btEnviarForm" %></li>
</ul>