<!-- TITLE -->
<% content_for :title do %> Lembrar senha - Sistema GVAR! <% end %>
<!-- / TITLE -->

<!-- CONTENT -->
<div id="geralLogin">
  <div id="centralizaLogin">
    <div id="logoLogin"><%= image_tag 'logo-login.png', :alt => 'Grupo Vida, Amor e Riso' %></div>

    <div id="boxLogin">
      <%= form_tag create_new_password_path, :id => "create_new_password" do %>
        <%= hidden_field_tag :email, params[:email] %>
        <ul>
          <li>
            <h3>Cadastrar Senha</h3>
          </li>
          <li class="warning">
          </li>
          <li>
            <span>Senha:</span>
          </li>
          <li>
            <%= password_field_tag :password, '', :class => 'inputLogin clear' %>
          </li>
          <li>
            <span>Confirmação da Senha:</span>
          </li>
          <li>
            <%= password_field_tag :confirm_password, '', :class => 'inputLogin clear' %>
          </li>
          <li id="btLogin">
            <%= image_submit_tag('bt-enviar.gif') %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
$("#create_new_password").submit(function(){
    var msg
    , campo_senha = "O campo 'Senha' esta diferente do campo 'Confirmação'."
    , campo_vazio = "Por favor insira uma senha válida.";

    if($("#password").val() == ""){
        msg = campo_vazio;
    }
    if($("#password").val() != $("#confirm_password").val()){
        msg = campo_senha;
    }
    if(msg){
        $(".warning").empty();
        $("#password, #confirm_password").val("");
        $(".warning").append(msg);
        $("#password").focus();
        return false;
    }
});
//]]>
</script>
<!-- / CONTENT -->
