<!-- TITLE -->
<% content_for :title do %> Login Sistema GVAR! <% end %>
<!-- / TITLE -->

<!-- CONTENT -->
<div id="geralLogin">
  <div id="centralizaLogin">
    <div id="logoLogin"><%= image_tag 'logo-login.png', :alt => 'Grupo Vida, Amor e Riso' %></div>

    <div id="boxLogin">
      <%= form_tag login_path do %>
        <ul>
          <li>
            <span>Login</span>
          </li>
          <li class="warning">
            <%= "<script>alert('#{flash[:notice]}');</script>".html_safe if flash[:notice] %>
          </li>
          <li>
            <%= text_field_tag :login, 'Login', :class => 'inputLogin clear' %>
          </li>
          <li>
            <%= password_field_tag :password, '', :class => 'inputLogin' %>
          </li>
          <li id="btLogin">
            <%= link_to "Lembrar senha", "lembrar-senha/", :id => 'lembraSenha' %>
            <%= image_submit_tag('bt-entrar.gif') %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>
<!-- / CONTENT -->