<!-- TITLE -->
<% content_for :title do %> <%= @team.name %> - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<!-- MENU -->
<% content_for :menu do %> <%= render 'menu' %> <% end %>
<!-- / MENU -->

<h1>Informações da Turma</h1>

<ul>
	<li><strong><%= @team.name %></strong> <br/> Em andamento - <%= @team.periodo %></li>
	<li><strong>Codigo: </strong> <%= @team.code %> </li>
	<li><strong>Curso: </strong> <%= @team.curso %> </li>
	<li>
		<strong>Data início: </strong> 00/00/0000 <br/>
		<strong>Data termino: </strong> 00/00/0000
	</li>
	<li>
		<strong>Carga horária/aula: </strong> <%= @team.workload %> <br/>
		<strong>Quantidade de aulas: </strong> <%= @team.class_length %> <br/>
		<strong>Carga horária total: </strong> <%= @team.total_carga_horaria %> <br/>
	</li>
	<li>
		<strong>Observações: </strong> <br/>
		<%= @team.note %>
	</li>
</ul>

<div id="infoTurmasCursos">
	<ul>
		<li><p><span><%= @team.limit %></span> Vagas</p></li>
		<li><p><span>0</span> Disponiveis</p></li>
		<li><p><span>0</span> Alunos</p></li>
	</ul>
</div>

<ul>
	<li><%= link_to "Turma curso", teams_cancel_path, :class => "btEnviarForm" %></li>
	<li><%= link_to "Voltar", teams_path, :class => "btEnviarForm" %></li>
</ul>