<!-- TITLE -->
<% content_for :title do %> <%= @team.name %> - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<!-- MENU -->
<% content_for :menu do %> <%= render 'menu' %> <% end %>
<!-- / MENU -->

<h1>Informações da Turma</h1>

<ul>
	<li><strong><%= @team.name %></strong> <br/> Em andamento - <%= @team.periodo %></li>
	<li><strong>Codigo: </strong> <%= @team.code %> </li>
	<li><strong>Curso: </strong> <%= @team.curso %> </li>
	<li><strong>Data inicio: </strong> 00/00/0000 <br/> <strong>Data termino: </strong> 00/00/0000</li>
	<li></li>
</ul>

<div id="infoTurmasCursos">
	<ul>
		<li><p><span>0</span> Turmas</p></li>
		<li><p><span>0</span> Em Andamento</p></li>
		<li><p><span>0</span> Concluídas</p></li>
		<li><p><span>0</span> Canceladas</p></li>
		<li><p><span>0</span> Interessados</p></li>
	</ul>
</div>

<ul>
	<li><%= link_to "Turma curso", teams_cancel_path, :class => "btEnviarForm" %></li>
	<li><%= link_to "Voltar", teams_path, :class => "btEnviarForm" %></li>
</ul>