<%= form_for @student do |s| %>

<% if @student.errors.any? %>
    <div id="error_explanation">
      <ul class="error">
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul>
    <li>
        <label>
            <span>Nome*: </span><br/>
            <%= s.text_field :name, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <label>
            <span>CPF*: </span><br/>
            <%= s.text_field :cpf, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <label>
            <span>RG*: </span><br/>
            <%= s.text_field :rg, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <label>
            <span>Data de Nascimento*: </span><br/>
            <%= s.text_field :birth_date, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <label>
            <span>Profissão*: </span><br/>
            <%= s.text_field :occupation, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <label>
            <span>Sexo*: </span><br/>
            <%= s.select :sex, sex, { :prompt => 'Selecione um sexo' }, :class => 'select selectMedio' %>
        </label>
    </li>

    <li>
        <label>
            <span>Escolaridade*: </span><br/>
            <%= s.text_field :schooling, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <label>
            <span>Relação com Idosos*: </span><br/>
            <%= s.select :relationship_elderly, decision, { :prompt => ' ' }, :class => 'select selectMedio' %>
        </label>
      </li>

    <%= s.fields_for :phones do |p| %>
      <li>
        <%= p.select :type_number, phone_types, {}, :class => 'select' %>:
        <%= p.text_field :number, :class => "inputMedio input" %>
      </li>
    <% end %>

    <%= s.fields_for :address do |a| %>
      <li>
          <label>
              <span>Rua*: </span><br/>
              <%= a.text_field :address, :class => "inputMedio input" %>
          </label>
      </li>

      <li>
          <label>
              <span>Nº*: </span><br/>
              <%= a.text_field :number, :class => "inputMedio input" %>
          </label>
      </li>

      <li>
          <label>
              <span>Complemento: </span><br/>
              <%= a.text_field :complement, :class => "inputMedio input" %>
          </label>
      </li>

      <li>
          <label>
              <span>Bairro*: </span><br/>
              <%= a.text_field :neighborhood, :class => "inputMedio input" %>
          </label>
      </li>

      <li>
          <label>
              <span>Cidade*: </span><br/>
              <%= a.text_field :city, :class => "inputMedio input" %>
          </label>
      </li>

      <li>
          <label>
              <span>Estado*: </span><br/>
              <%= a.select :country_id, state, { :prompt => 'Selecione um estado' }, :class => 'select selectMedio' %>
          </label>
      </li>

      <li>
          <label>
              <span>CEP*: </span><br/>
              <%= a.text_field :zipcode, :class => "inputMedio input" %>
          </label>
      </li>
    <% end %>

    <li>
        <label><span>Documentos entregues: </span><br/></label>
        <label>
            <%= s.check_box :rg_delivered, :class => "uniform funcao" %>
            <span>RG</span>
        </label>
        <br/>
        <label>
            <%= s.check_box :cpf_delivered, :class => "uniform funcao" %>
            <span>CPF</span>
        </label>
        <br/>
        <label>
            <%= s.check_box :photo_delivered, :class => "uniform funcao" %>
            <span>Foto</span>
        </label>
        <br/>
        <label>
            <%= s.check_box :cv_delivered, :class => "uniform funcao" %>
            <span>Curriculum</span>
        </label>
        <br/>
        <label>
            <%= s.check_box :address_delivered, :class => "uniform funcao" %>
            <span>Comprovante de endereço</span>
        </label>
    </li>

    <li>
        <label>
            <span>Observações: </span><br/>
            <%= s.text_area :notes, :class => "inputMedio input" %>
        </label>
    </li>

    <li class="btEnviarForm">
        <%= s.submit %>
    </li>

</ul>
<% end %>

<script type="text/javascript">
    $(function(){
        $("#student_cpf").mask("999.999.999-99");
        $("#student_rg").mask("99.999.999-*");
        $("#student_zipcode").mask("99999-999");
        $("#student_birth_date").mask("99/99/9999");
        $("#student_phone").mask("(99) 9999-9999");
        $('#student_cellphone').mask("(99) 9999-9999?9").live('focusout', function (event) {
                var target, phone, element;
                target = (event.currentTarget) ? event.currentTarget : event.srcElement;
                phone = target.value.replace(/\D/g, '');
                element = $(target);
                element.unmask();
                if(phone.length > 10) {
                    element.mask("(99) 99999-999?9");
                } else {
                    element.mask("(99) 9999-9999?9");
                }
            });
    });
</script>
