<%= form_for @student do |s| %>
  <%= render "shared/error_messages", :record => @student %>
  <ul>
    <li>
      <label>
        <span>Nome*: </span><br/>
        <%= s.text_field :name, :class => "inputMedio input" %>
      </label>
    </li>

    <li>
      <label>
        <span>CPF*: </span><br/>
        <%= s.text_field :cpf, :class => "inputMedio input cpf" %>
      </label>
    </li>

    <li>
      <label>
        <span>RG*: </span><br/>
        <%= s.text_field :rg, :class => "inputMedio input rg" %>
      </label>
    </li>

    <li>
      <label>
        <span>Data de Nascimento*: </span><br/>
        <%= s.text_field :birth_date, :class => "inputMedio input data" %>
      </label>
    </li>

    <li>
      <label>
        <span>Profissão*: </span><br/>
        <%= s.text_field :occupation, :class => "inputMedio input" %>
      </label>
    </li>

    <li>
      <label>
        <span>Sexo*: </span><br/>
        <%= s.select :sex, sex, { :prompt => 'Selecione um sexo' }, :class => 'select selectMedio' %>
      </label>
    </li>

    <li>
      <label>
        <span>Escolaridade*: </span><br/>
        <%= s.text_field :schooling, :class => "inputMedio input" %>
      </label>
    </li>

    <li>
      <label>
        <span>Relação com Idosos*: </span><br/>
        <%= s.select :relationship_elderly, decision, { :prompt => ' ' }, :class => 'select selectMedio' %>
      </label>
    </li>

    <%= s.fields_for :phones do |p| %>
      <li>
        <%= p.select :type_number, phone_types, {}, :class => 'select' %></br>
        <%= p.text_field :number, :class => "inputMedio input celular" %>
      </li>
    <% end %>

    <%= s.fields_for :address do |a| %>
      <li>
        <label>
          <span>Rua*: </span><br/>
          <%= a.text_field :address, :class => "inputMedio input" %>
        </label>
      </li>

      <li>
        <label>
          <span>Nº*: </span><br/>
          <%= a.text_field :number, :class => "inputMedio input" %>
        </label>
      </li>

      <li>
        <label>
          <span>Complemento: </span><br/>
          <%= a.text_field :complement, :class => "inputMedio input" %>
        </label>
      </li>

      <li>
        <label>
          <span>Bairro*: </span><br/>
          <%= a.text_field :neighborhood, :class => "inputMedio input" %>
        </label>
      </li>

      <li>
        <label>
          <span>Cidade*: </span><br/>
          <%= a.text_field :city, :class => "inputMedio input" %>
        </label>
      </li>

      <li>
        <label>
          <span>Estado*: </span><br/>
          <%= a.select :country_id, state, { :prompt => 'Selecione um estado' }, :class => 'select selectMedio' %>
        </label>
      </li>

      <li>
        <label>
          <span>CEP*: </span><br/>
          <%= a.text_field :zipcode, :class => "inputMedio input cep" %>
        </label>
      </li>
    <% end %>

    <li>
      <label><span>Documentos entregues: </span><br/></label>
      <label>
        <%= s.check_box :rg_delivered, :class => "uniform funcao" %>
        <span>RG</span>
      </label>

      <label>
        <%= s.check_box :cpf_delivered, :class => "uniform funcao" %>
        <span>CPF</span>
      </label>

      <label>
        <%= s.check_box :photo_delivered, :class => "uniform funcao" %>
        <span>Foto</span>
      </label>

      <label>
        <%= s.check_box :cv_delivered, :class => "uniform funcao" %>
        <span>Curriculum</span>
      </label>

      <label>
        <%= s.check_box :address_delivered, :class => "uniform funcao" %>
        <span>Comprovante de endereço</span>
      </label>
    </li>

    <li class='textAreaDescricao'>
      <label>
        <span>Observações: </span><br/>
        <%= s.text_area :notes, :class => "textarea" %>
      </label>
    </li>

    <li class="btEnviarForm">
      <%= s.submit %>
    </li>

  </ul>
<% end %>
