<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ul>
    <li>
        <label>
            <span>Login:</span><br/>
            <%= f.text_field :login, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <label>
            <span>Password:</span><br/>
            <%= f.password_field :password, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <label>
            <span>Nome:</span><br/>
            <%= f.text_field :name, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <label>
            <span>E-mail:</span><br/>
            <%= f.text_field :email, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <div id="guardaCheckbox">
            <label>Modulos de acesso:</label>
            <% if current_user.have_role? :admin %>
                <% roles.each do |role|%>
                    <label>
                    <%= check_box_tag "user[role_ids][]",role.id, @user.have_role?(role.name) %>
                    <span><%= role.name %><span>
                    </label>
                <% end %>
            <% end %>
        </div>
    </li>

    <li id="btEnviarForm">
        <%= f.submit %>
        <%= link_to 'Voltar', users_path, :id => "btVoltarForm" %>
    </li>
</ul>
<% end %>
