<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", :record => @team %>
  <ul>
    <li>
      <label>
        <span>Nome:</span><br/>
        <%= f.text_field :name, :class => "inputMedio input", :id => "campoNome"%>
      </label>
    </li>

    <li>
      <label>
        <span>E-mail:</span><br/>
        <%= f.text_field :email, :class => "inputMedio input", :id => "campoEmail" %>
      </label>
    </li>

    <li>
      <div id="guardaCheckbox">
        <label>Módulos de acesso:</label>
        <% if current_user.have_role? :admin %>
          <% roles.each do |role|%>
            <label>
              <%= check_box_tag "user[role_ids][]",role.id, @user.have_role?(role.name), :class => "campoAcesso" %>
              <span><%= role.name %><span>
                </label>
              <% end %>
            <% end %>
          </div>
        </li>

        <li>
          <label>
            <span>Usuário:</span><br/>
            <%= f.text_field :login, :class => "inputMedio input", :id => "campoUsuario" %>
          </label>
        </li>

        <!-- Bloco somente para novos cadastros -->
        <% if @user.new_record? %>
          <li>
            <label>
              <span>Senha:</span><br/>
              <%= f.password_field :password, :class => "inputMedio input", :id => "campoSenha" %>
            </label>
          </li>

          <li>
            <label>
              <span>Repetir senha:</span><br/>
              <%= f.password_field :password_confirmation, :class => "inputMedio input", :id => "campoSenhaConfirmacao" %>
            </label>
          </li>
        <% end %>
        <!-- / Bloco somente para novos cadastros -->

        <li id="btEnviarForm">
          <%= f.submit %>
          <%= link_to 'Voltar', users_path, :id => "btVoltarForm" %>
        </li>
      </ul>
      <script type="text/javascript">
        $(function(){
          var regex = /^[a-z0-9_\+-]+(\.[a-z0-9_\+-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*\.([a-z]{2,4})$/;
          var acesso = false;

          $("#guardaCheckbox .campoAcesso").click(function(){
            if( !$(this).hasClass("clicou") )
              $(this).addClass("clicou");
            else
              $(this).removeClass("clicou");
            });

          $("#btEnviarForm input").click(function(){
            $(".campoAcesso").each(function(){
              if( $(this).hasClass("clicou") ) acesso = true;
            });

            // VALIDA NOME
            if( $("#campoNome").val().length < 3 ){
              alert("Campo 'Nome' é de preenchimento obrigatório ");
              return false;
            }
            // VALIDA EMAIL
            if( regex.test($("#campoEmail").val()) != true ){
              alert("E-mail inválido, por favor cadastrar um e-mail válido");
              return false;
            }
            // VALIDA SELECAO DE ACESSOS
            if( !acesso ){
              alert("Defina os acessos desse Usuário");
              return false;
            }

            // VALIDA USUARIO
            if( $("#campoUsuario").val().length <= 3 ){
              alert("Campo 'Usuario' deve conter mais de 3 letras");
              return false;
            }
            // VALIDA SENHAS
            if( $("#campoSenha").val().length < 5 ){
              alert("A 'Senha' deve conter mais de 4 caracteres");
              return false;
            }
          });
        });
      </script>
    <% end %>
