<!-- TITLE -->
<% content_for :title do %> Alterar senha - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<h1>Usuarios</h1>

<div id="guardaPesquisa">
  <%= form_tag update_password_path do %>
  <%= hidden_field_tag :login, current_user.login %>
    <ul>
      <li>
        <label for="campoSenhaAtual">Senha Atual</label>
        <%= password_field_tag :password, '' %>
      </li>
      
      <li>
        <label for="campoNovaSenha">Nova senha</label>
        <%= password_field_tag :new_password, '' %>
      </li>

      <li>
        <label for="campoRepetirSenha">Repetir senha</label>
        <%= password_field_tag :confirm_new_password %>
      </li>

      <li>
        <%= submit_tag 'Salvar' %>
      </li>
    </ul>
<% end %>