<!-- TITLE -->
<% content_for :title do %> Alterar senha - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<h1>Alterar senha</h1>

<div id="guardaPesquisa">
  <%= form_tag update_password_path do %>
  <%= hidden_field_tag :login, current_user.login %>
    <ul>
      <li>
        <label for="campoSenhaAtual">Senha Atual</label>
        <%= password_field_tag :password, '', :class => 'input inputGde' %>
      </li>

      <li>
        <label for="campoNovaSenha">Nova senha</label>
        <%= password_field_tag :new_password, '', :class => 'input inputGde' %>
      </li>

      <li>
        <label for="campoRepetirSenha">Repetir senha</label>
        <%= password_field_tag :new_password_confirmation, '', :class => 'input inputGde' %>
      </li>

      <li style="width:650px;">
        <%= submit_tag 'Salvar', :class => 'btEditarForm' %>
      </li>
    </ul>
<% end %>
