<!-- TITLE -->
<% content_for :title do %> Alterar senha - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<h1>Usuarios</h1>

<div id="guardaPesquisa">
  <%= form_for(@user = '') do |f| %>
    <ul>
      <li>
        <label for="campoSenhaAtual">Senha Atual</label>
        <%= f.text_field :login, :class => "inputGde input", :id => 'campoSenhaAtual' %>
      </li>
      
      <li>
        <label for="campoNovaSenha">Nova senha</label>
        <%= f.text_field :login, :class => "inputGde input", :id => 'campoNovaSenha' %>
      </li>

      <li>
        <label for="campoRepetirSenha">Repetir senha</label>
        <%= f.text_field :login, :class => "inputGde input", :id => 'campoRepetirSenha' %>
      </li>

      <li>
        <%= f.submit 'Salvar', :class => 'btEditarForm', :id => 'btRealizarPesquisa' %>
      </li>
    </ul>
<% end %>