<!-- TITLE -->
<% content_for :title do %> Usuarios - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<h1>Usuarios</h1>

<table>
  <tr>
    <th>Usuario</th>
    <th>Nome</th>
    <th>E-mail</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Editar', edit_user_path(user), class: "btVoltarForm" %></td>
    <td><%= link_to 'Deletar', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btVoltarExcluirForm" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '+ Novo usuario', new_user_path, class: "btEnviarForm" %>
