<%= form_for 'aluno' do |r| %>

  <ul>
    <li>
		<label>Buscar Aluno</label><br/>
      <%= r.text_field :name_or_cpf, :class => "inputGde input" %>
    </li>
	
	 <li style='padding-left:345px;'>
         <%= link_to "Cadastrar Aluno", new_student_path, :class => 'pesquisaAvancada' %>
         <%= r.submit "Pesquisar",:class => 'btEditarForm', :id => 'ajaxBtRealizarPesquisa' %>
     </li>
  </ul>
    
<% end %>
<div id="guardaResultadoPesquisa">
</div>
<script type="text/javascript" charset="utf-8">
  $("#ajaxBtRealizarPesquisa").click(function(e) {
    e.preventDefault();

    $.ajax({
      url:  "<%= search_students_path %>",
      type: "GET",
      data: {
        filtro: {
          name_or_cpf: $("#aluno_name_or_cpf").val()
        }
      }
    }).done(function(data) {
      $("#guardaResultadoPesquisa").html(data);
      $("#guardaResultadoPesquisa").slideDown(500);
    });
  });
</script>
