<div class='inscrSubtitulo'>
	<span>Informações do Aluno</span>
</div>
<ul>

	<li><strong>Nome: </br></strong> <%= student.name %> </li>
	<li><strong>CPF: </br></strong> <%= student.cpf %> </li>
	<li><strong>RG: </br></strong> <%= student.rg %> </li>
	<li><strong>Data de Nascimento: </br></strong> <%= student.birth_date %> </li>
	<li><strong>Sexo: </br></strong> <%= student.sexo %> </li>
	<li><strong>Relação com Idoso: </br></strong> <%= student.relacao_idoso %> </li>
	<% student.phones.each do |phone| %>
		<li><strong><%= phone.type_phone %></br></strong> <%= phone.number %> </li>
	<% end %>
	<li class='documentosEntregues'>
		<strong>Documentos Entregues: </strong>
		<span>RG			</span> <%= image_tag (student.rg_delivered)?      "ok.png":"no.png" %>
		<span>CPF           </span> <%= image_tag (student.cpf_delivered)?     "ok.png":"no.png" %>
		<span>FOTO          </span> <%= image_tag (student.photo_delivered)?   "ok.png":"no.png" %>
		<span>Currículo     </span> <%= image_tag (student.cv_delivered)?      "ok.png":"no.png" %>
		<span>Comp. Endereço</span> <%= image_tag (student.address_delivered)? "ok.png":"no.png" %>
	</li>

</ul>	
