<div class='inscrSubtitulo'>
	<span>Informações da Turma</span>
</div>
<ul>

	<li><strong>Curso: </br></strong> <%= team.course.name %> </li>
	<li><strong>Turma: </br></strong> <%= team.name %> </li>
	<li><strong>Valor: </br></strong> <%= number_to_currency team.price %> </li>
	<li><strong>Período: </br></strong> <%= team.periodo %> </li>
	<li><strong>Qtd. Aulas: </br></strong> <%= team.class_length %> </li>
	<li><strong>Carga/Horária: </br></strong> <%= team.workload %> </li>

</ul>	
