<%= render "registrations/student", :student => @inscricao.student %><br/>
<b>Informações da Turma</b><hr/>
<%= form_for @inscricao, :url => confirm_registration_path do |i| %>
  <%= i.hidden_field :student_id, :value => i.object.student_id %>
  <ul>
    <li><span>Turma</span>
      <%= i.select :team_id, Team.all.map {|t| ["#{t.course.name} - #{t.name}" ,t.id]},{}, {:class => "inputGrande input"} %>
    </li>

    <li class="btEnviarForm">
      <%= i.submit "Ok" %>
    </li>
  </ul>
<% end %>
