<!-- TITLE -->
<% content_for :title do %> Inscrições - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->
<div class="cursos">
  <h1>Inscrições</h1>

  <div id="guardaPesquisa">
    <%= form_for "/cursos" do |f| %>
      <ul>
        <li class="noPaddingHomes hidePA ">
          <%= f.text_field :login, :class => "inputGde input", :id => 'campoBusca' %>
        </li>

        <li class="liPesquisaAvancada">
          <%#= link_to 'Pesquisa avançada', 'javascript:void(0);', :class => 'pesquisaAvancada', :id => 'btPesquisaAvancada' %>
          <%= f.submit 'Pesquisar', :class => 'btEditarForm semPesquisaAvancada', :id => 'btRealizarPesquisa' %>
        </li>
      </ul>
    <% end %>

  <%= link_to "Nova inscrição", choose_student_path, class: "btEnviarForm" %>

  </div>

  <div id="guardaAtividadesRecentes">
    <h2>Ultimas inscrições</h2>
    <% if @registration.size > 0 %>

      <% @registration.each do |c| %>
        <p>
		  <span><strong><%= c.code %> - <%= c.student.name %></strong><br/>
          <small><%= c.team.name %></small></span>
          <%= link_to 'Visualizar', registration_path(c), :class => 'btVoltarForm' %>
        </p>
      <% end %>

    <% else %>
      <p><span>Nenhuma inscrição realizada.</span></p>
    <% end %>
  </div>

  <div id="guardaResultadoPesquisa">
    <% if @registration.size > 0 %>
      <h2>Resultado da pesquisa</h2>

      <table cellspadding="0" cellspacing="0" width="100%">
        <tr border="0">
          <th width="25%"><span>Código</span></th>
          <th width="25%"><span>Turma</span></th>
          <th width="25%"><span>Aluno</span></th>
          <th width="25%"><span>Status</span></th>
        </tr>

        <% @registration.each do |c| %>
          <tr border="0" onclick="location.href = '<%= registration_path(c) %>'">
              <td width="25%"><span><%= c.code %></span></td>
              <td width="25%"><span><%= c.team.name %></span></td>
              <td width="25%"><span><%= c.student.name %></span></td>
              <td width="25%"><span><%= c.status_current %></span></td>
          </tr>
        <% end %>

      </table>
    <% else %>
      <h2>Nenhuma inscrição realizada até o momento</h2>
    <% end %>
  </div>
</div>
