<%= form_for @schedule do |f| %>
  <%= render "shared/error_messages", :record => @schedule %>
  <ul>
	<li class='codigo'>
        <label>
            <span>Código: </span>
            <%= f.hidden_field :code, :value => f.object.code %> 			
			<%= f.text_field :code, :value => f.object.code, :class => "inputMedio input",:disabled => true %>
			
        </label>

    <li>
      <label>
        <span>Serviço:</span><br/>
        <%= f.select :service_id, services.map {|s| [s.name, s.id] }, { :prompt => "Escolha um serviço" }, :class => "select selectMedio" %>
      </label>
    </li>
    <li>
      <label>
        <span>Prestador:</span><br/>
        <%= f.select :provider_id, providers.map {|p| [p.name, p.id] }, { :prompt => "Escolha um prestador" }, :class => "select selectMedio" %>
      </label>
    </li>

    <li>
      <label>
        <span>Cliente:</span><br/>
        <%= f.select :client_id, clients.map {|c| [c.name, c.id] }, { :prompt => "Escolha um cliente" }, :class => "select selectMedio" %>
      </label>
    </li>

    <li>
      <label>
        <span>Tempo Estimado:</span><br/>
        <%= f.text_field :estimated_time, :class => "inputMedio input" %>
      </label>
    </li>

    <li>
      <label>
        <span>Numeros de Dias:</span><br/>
        <%= f.number_field :number_days, :class => "inputMedio input" %>
      </label>
    </li>

    <li>
      <label>
        <span>Data da Realização:</span><br/>
        <%= f.date_select :date, {}, :class => 'select' %>
      </label>
    </li>

    <li id="btEnviarForm">
      <%= f.submit "Avançar" %>
      <%= link_to 'Voltar', schedules_path, :id => "btVoltarForm" %>
    </li>
  </ul>
<% end %>
