<!-- TITLE -->
<% content_for :title do %> Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<div class="servicos">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Nome:</b>
    <%= @schedule.code %>
  </p>

  <p>
    <b>Numero de Dias:</b>
    <%= @schedule.number_days %>
  </p>

  <p>
    <b>Tempo Estimado:</b>
    <%= @schedule.estimated_time %>
  </p>

  <p>
    <b>Valor Padrão:</b>
    <%= number_to_currency @schedule.service.default_value %>
  </p>

  <p>
    <b>Data do agendamento:</b>
    <%= date_to_view @schedule.date %>
  </p>

  <p>
    <b>Descrição:</b>
    <%= @schedule.service.description %>
  </p>

  <h2>Parcelas</h2>
  <% @schedule.release.instalments.each do |i| %>
    <p>
      <b><%= i.number_instalment %></b>
    </p>
    <p>
      <b>Vencimento:</b>
      <%= date_to_view i.expiration_date %>
    </p>
    <p>
      <b>Valor:</b>
      <%= number_to_currency i.amount %>
    </p>
    <p>
      <b>Status:</b>
      <%= i.status %>
    </p>
  <% end %>
  <%= link_to 'Editar', edit_schedule_path(@schedule) %> |
  <%= link_to 'Voltar', dashboard_path %>
</div>
