<% if logged_in? %>
<div id="headerInternas">
            <div class="wrapperInternas">
                <div id="logoInternas">
                    <%= link_to image_tag("logo-internas.gif", :alt => ""), dashboard_path %>
                </div>

                <div id="menuInternas">
                    <ul>
                        <li><%= link_to "", dashboard_path, :id => "home", :title => "Página inicial"%></li>
                        <li><%= link_to "", cursos_index_path, :id => "cursos", :title => "Cursos"%></li>
                        <li><%= link_to "", services_path, :id => "servicos", :class => 'servicos agenda-de-servicos', :title => "Serviços"%></li>
                        <li><%= link_to "", assessoria_index_path, :id => "assessoria", :title => "Assessoria"%></li>
                        <li><%= link_to "", financeiro_index_path, :id => "financeiro", :title => "Financeiro"%></li>
                    </ul>
                </div>

                <div id="guardaNomeUsuario">
                    <p>
                        <span><%= current_user.name %></span>
                        <span class="soPadding"></span>
                        <span><%= link_to image_tag("icone-configuracoes.png", :alt => ""), 'javascript:void(0);', :id => "btConfig" %></span>
                    </p>
                    <div id="escondido">
                        <ul>
                            <% if current_user.have_role?(:admin) %>
                                <li><%= link_to "Controle de Usuários", users_path %></li>
                            <% end %>
                            <li><%= link_to "Editar perfil", edit_user_path(current_user) %></li>
                            <li><%= link_to "Alterar senha", alterar_senha_path %></li>
                            <li><%= link_to "Sair", logout_path %></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="guardaMenuCategoria">
                <p>
					<%= yield :menu %>
                </p>
            </div>
        </div>
<% end %>
