<%= form_for @client do |f| %>
  <%= render "shared/error_messages", :record => @client %>
  <ul>
    <li>
      <label>
        <span>Nome:</span><br/>
        <%= f.text_field :name, :class => "inputMedio input", :id => "campoNome"%>
      </label>
    </li>

    <%= f.fields_for :address do |a| %>
      <li>
        <label>
          <span>Endereço:</span><br/>
          <%= a.text_field :address, :class => "inputMedio input" %>
        </label>
      </li>

      <li>
        <label>
          <span>Nº:</span><br/>
          <%= a.text_field :number, :class => "inputMedio input" %>
        </label>
      </li>

      <li>
        <label>
          <span>Bairro:</span><br/>
          <%= a.text_field :neighborhood, :class => "inputMedio input" %>
        </label>
      </li>

      <li>
        <label>
          <span>Complemento:</span><br/>
          <%= a.text_field :complement, :class => "inputMedio input" %>
        </label>
      </li>

      <li>
        <label>
          <span>CEP:</span><br/>
          <%= a.text_field :zipcode, :class => "inputMedio input cep" %>
        </label>
      </li>

      <li>
        <label>
          <span>Estado:</span><br/>
          <%= a.select :country_id, Country::STATES, { :prompt => 'Selecione um estado' }, :class => 'select selectMedio' %>
        </label>
      </li>

      <li>
        <label>
          <span>Cidade:</span><br/>
          <%= a.text_field :city, :class => "inputMedio input" %>
        </label>
      </li>
    <% end %>

    <li>
      <label>
        <span>CPF:</span><br/>
        <%= f.text_field :cpf, :class => "inputMedio input cpf" %>
      </label>
    </li>

    <li>
      <label>
        <span>RG:</span><br/>
        <%= f.text_field :rg, :class => "inputMedio input rg" %>
      </label>
    </li>

    <li id="btEnviarForm">
      <%= f.submit "Salvar cliente"%>
      <%= link_to 'Voltar', clients_path, :id => "btVoltarForm" %>
    </li>
  </ul>
<% end %>
