<!-- TITLE -->
<% content_for :title do %> Cursos - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<!-- MENU -->
<% content_for :menu do %> <%= render 'menu' %> <% end %>
<!-- / MENU -->

<h1>Cursos</h1>

<div id="guardaPesquisa">
  <%= form_for "/cursos" do |f| %>
    <ul>
      <li class="noPaddingHomes hidePA ">
        <%= f.text_field :login, :class => "inputGde input", :id => 'campoBusca' %>
      </li>

      <li class="liPesquisaAvancada">
        <%= link_to 'Pesquisa avançada', 'javascript:void(0);', :class => 'pesquisaAvancada', :id => 'btPesquisaAvancada' %>
        <%= f.submit 'Pesquisar', :class => 'btEditarForm', :id => 'btRealizarPesquisa' %>
      </li>
    </ul>
  <% end %>

<%= link_to "Novo curso", courses_new_path, class: "btEnviarForm" %>

</div>

<div id="guardaAtividadesRecentes">
  <h2>Próximas turmas</h2>
  <%# @courses.each do |rel| %>
    <p>
      <span><%#= rel.name %></span>
      <span><%#= rel.total_amount %></span>
      <span><%#= %></span>
      <%#= link_to 'Visualizar', "javascript:void(0);", :class => 'btVoltarForm' %>
    </p>
  <%# end %>
</div>

<div id="guardaResultadoPesquisa">
  <% if @course.size > 0 %>
    <h2>Resultado da pesquisa</h2>

    <table cellspadding="0" cellspacing="0" width="100%">
      <tr border="0">
        <th width="25%"><span>Código</span></th>
        <th width="25%"><span>Nome do curso</span></th>
        <th width="25%"><span>Tipo</span></th>
        <th width="25%"><span>Turmas em andamento</span></th>
      </tr>

      <% @course.each do |c| %>
        <tr border="0">
            <td width="25%"><span><%= link_to c.code, courses_show_path(c.id) %></span></td>
            <td width="25%"><span><%= link_to c.name, courses_show_path(c.id) %></span></td>
            <td width="25%"><span><%= link_to c.categoria, courses_show_path(c.id) %></span></td>
            <td width="25%"><span> NO </span></td>
        </tr>
      <% end %>

    </table>
  <% else %>
    <h2>Nenhum curso cadastrado até o momento</h2>
  <% end %>
</div>
