<%= form_for @course do |c| %>
  <%= render "shared/error_messages", :record => @course %>
<ul>
    <li class='codigo'>
        <label>
            <span>Código: </span>
            <%= c.hidden_field :code, :value => @course_code || c.object.code %>
			<%= c.text_field :code, :value => @course_code || c.object.code, :class => "inputMedio input",:disabled => true %>

        </label>
    </li>

    <li>
        <label>
            <span>Nome*:</span><br/>
            <%= c.text_field :name, :class => "inputMedio input" %>
        </label>
    </li>

    <li>
        <label>
            <span>Tipo de curso*:</span><br/>
            <%= c.select :course_type, @course_category, { :prompt => "Escolha o tipo de curso" } , :class => 'select selectMedio' %>
        </label>
    </li>

    <li class='textAreaDescricao'>
        <label>
            <span>Descrição*:</span><br/>
            <%= c.text_area :description, :class => "textarea" %>
        </label>
    </li>

    <li class="btEnviarForm">
    	<%= c.submit %>
        <%#= link_to "Cancelar", courses_path, :class => "btEnviarForm"  %>
    </li>
<% end %>
