<h1>Baixar</h1>
<div>
  <%= form_for "pay_instalment" , :url => pay_instalment_path, :method => 'POST' do |f| %>
    <%= hidden_field_tag 'pay_instalment[id]', @instalment.id %>
    <p>
      Código:
      <%= @instalment.code %>
    </p>
    <p>
      Parcela:
      <%= @instalment.number_instalment %>
    </p>
    <p>
      Data de Vencimento:
      <%= date_to_view @instalment.expiration_date %>
    </p>
    <p>
      Data:
      <%= f.date_select :paid_at, {}, {:class => 'select'} %>
    </p>
    <p>
      Valor:
      <%= number_to_currency @instalment.amount %>
    </p>
    <p>
      Valor Pago:
      <%= f.text_field :amount_paid %>
    </p>
    <p>
      Recebido em:
      <%= f.select :payment_id, payments, {}, :class => 'select' %>
    </p>
    <p>
      <%= f.submit "Ok" %>
    </p>
  <% end %>
</div>
