<!-- TITLE -->
<% content_for :title do %> Financeiro - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<h1>Financeiro</h1>

<div id="guardaPesquisa">
  <%= form_for(@releases = '') do |f| %>
    <ul>
      <li class="noPaddingHomes">
        <label for="campoNome" class="escondidoPesquisaAvancada">E-mail</label>
        <%= f.text_field :login, :class => "inputGde input", :id => 'campoNome' %>
      </li>

      <li class="liPesquisaAvancada">
        <%= link_to 'Pesquisa avancada', 'javascript:void(0);', :class => 'pesquisaAvancada', :id => 'btPesquisaAvancada' %>
        <%= f.submit 'Pesquisar', :class => 'btEditarForm', :id => 'btRealizarPesquisa' %>
      </li>
    </ul>
  <% end %>

<%= link_to "Novo pagamento", novo_pagamento_path, class: "btEnviarForm" %>

</div>

<div id="guardaAtividadesRecentes">
  <h2>Recebimentos mais proximos</h2>
  <% @release.each do |rel| %>
    <p>
      <span><%= rel.name %></span>
      <span><%= rel.total_amount %></span>
      <span>DT Venc</span>
      <%= link_to 'Visualizar', "javascript:void(0);", :class => 'btVoltarForm' %>
    </p>
  <% end %>
</div>

<div id="guardaResultadoPesquisa">
  <h2>Resultado da pesquisa</h2>

  <table cellspadding="0" cellspacing="0" width="100%">
    <tr border="0">
      <th width="14%"><span>Codigo</span></th>
      <th width="14%"><span>No</span></th>
      <th width="14%"><span>Nome</span></th>
      <th width="14%"><span>Data Vencimento</span></th>
      <th width="14%"><span>Status</span></th>
      <th width="14%"><span>Valor Parcela</span></th>
      <th width="14%"></th>
    </tr>

    <% @release.each do |rel| %>
      <tr>
        <td width="14%"><span><%= rel.code %></span></td>
        <td width="14%"><span>< rel.number %></span></td>
        <td width="14%"><span><%= rel.name %></span></td>
        <td width="14%"><span>< rel.email %></span></td>
        <td width="14%"><span>< rel.email %></span></td>
        <td width="14%"><span>< rel.email %></span></td>
        <td width="14%"><span><%= link_to "Pagar", "javascript:void(0);", :class => "btVoltarForm" %></span></td>
      </tr>
    <% end %>
  </table>

</div>



