<!-- TITLE -->
<% content_for :title do %> Financeiro - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->

<!-- MENU -->
<% content_for :menu do %> <%= render "menu" %> <% end %>
<!-- / MENU -->

<h1>Financeiro</h1>

<div id="guardaPesquisa">
  <%= form_for "filtro",:url => financeiro_index_path, :method => 'GET' do |f| %>
    <ul>
      <li class="escondidoPesquisaAvancada">
        <label for="campoCodigo">Código</label>
        <%= f.text_field :code, :class => "inputGde input", :id => 'campoCodigo' %>
      </li>

      <li class="escondidoPesquisaAvancada">
        <label for="campoNome">Nome</label>
        <%= f.text_field :name, :class => "inputGde input", :id => 'campoNome' %>
      </li>

      <li class="escondidoPesquisaAvancada">
        <label for="campoCategoria">Categoria</label>
        <%= select_tag :'filtro[category_id]', options_for_select(@categories), :include_blank => true, :class => 'select selectGde', :id => 'campoCategoria' %>
      </li>

      <li class="escondidoPesquisaAvancada doisInputs">
        <label for="campoValor">Valor de </label>
        <%= f.text_field :amount_minimun, :class => "inputPeq input", :id => 'campoValor' %>
        <label for="campoAte" class="primeiro"> até </label>
        <%= f.text_field :amount_max, :class => "inputPeq input", :id => 'campoAte' %>
      </li>

      <li class="escondidoPesquisaAvancada">
        <label for="campoParcela">Parcela nº</label>
        <%= f.text_field :number, :class => "inputGde input", :id => 'campoParcela' %>
      </li>

      <li class="escondidoPesquisaAvancada">
        <%= f.check_box :fixed_payment %> <span>Despesa fixa</span>
      </li>

      <li class="noPaddingHomes hidePA ">
        <label for="campoBusca">Código</label>
        <%= f.text_field :code_simple, :class => "inputGde input", :id => 'campoBusca' %>
      </li>

      <li class="liPesquisaAvancada">
        <%= link_to 'Pesquisa avançada', 'javascript:void(0);', :class => 'pesquisaAvancada', :id => 'btPesquisaAvancada' %>
        <%= f.submit 'Pesquisar', :class=> 'btEditarForm' %>
      </li>
    </ul>
  <% end %>
<%= link_to "Novo pagamento", novo_pagamento_path, class: "btEnviarForm" %>

</div>

<div id="guardaAtividadesRecentes">
  <h2>Recebimentos mais próximos</h2>
  <% @instalments_recents.each do |i| %>
    <p>
      <span><%= i.name %></span>
      <span><%= i.amount %></span>
      <span><%= i.expiration_date_to_s %></span>
      <%= link_to 'Visualizar', "javascript:void(0);", :class => 'btVoltarForm' %>
    </p>
  <% end %>
</div>
<%= render @instalment.partial %>
</div>



