<!-- TITLE -->
<% content_for :title do %> Editar Lançamento - Sistema Grupo Vida, Amor e Riso! <% end %>
<!-- / TITLE -->
<div class="financeiro">
  <h1>Editar Lançamento</h1>

  <%= form_for @release, :url => financeiro_update_lancamento_path do |r| %>
    <ul>
     <li class='codigo'>
        <label>
          <span>Codigo: </span>
          <%= hidden_field_tag "release[code]", @release_code %>			
		  <%= r.text_field :code, :value => @release_code || r.object.code, :class => "inputMedio input",:disabled => true %>
        </label>
      </li>

      <li>
        <label>
          <span>Nome:</span><br/>
          <%= r.text_field :name, :class => "inputMedio input" %>
        </label>
      </li>

      <li>
        <label>
          <span>Valor total (R$):</span><br/>
          <%= r.text_field :total_amount, :value => number_with_precision(r.object.total_amount), :class => "inputMedio input", :id => "valorTotal" %>
        </label>
      </li>

      <li>
        <label>
          <span>Numero de parcelas:</span><br/>
          <%= r.text_field :number_instalments, :class => "inputMedio input", :id => "numberParcelas", :disabled => true %>
        </label>
      </li>

      <li style='margin-top:25px'>
        <label>
          <%= r.check_box :first_paid %> <span>Primeira paga</span>
        </label>
        <label style='margin-left:20px'>
          <%= r.check_box :fixed_payment %> <span>Despesa fixa</span>
        </label>
      </li>

      <li style='display:table'>
        <div id="guardaResultadoPesquisa" class="parcelas">
          <table cellspadding="0" cellspacing="0" cellpadding='0' width="100%" id="guardaParcelasGeradas">
			<tr>
				<th width="3%"><span>No</span></th>
				<th width="25%"><span>Valor Parcela (R$)</span></th>
				<th width="20%"><span>Data de Venc.</span></th>
				<th width="20%"><span>Data de  Pgto</span></th>
				<th width="20%"><span>Valor Pago (R$)</span></th>
				<th width="10%"><span>Forma de Pgto</span></th>
				<th width="15%"><span>Status</span></th>
			</tr>

              <%= r.fields_for :instalments do |i| %>
                <tr>
                  <td>
                    <span><%= i.object.number_instalment %></span>
                  </td>

                  <td>
                    <span><%= i.text_field :amount, :value => number_with_precision(i.object.amount), :class => 'inputPeq input' %></span>
                  </td>

                 <td>
					<span><%= i.text_field :expiration_date, {:class => 'inputPeq input data' } %></span>
					</td>
		
					<td>
					<span><%= i.text_field :paid_at, {:class => 'inputPeq input data'} %></span>
					</td>
		
					<td>
					<span><%= i.text_field :amount_paid, :class => "inputPeq input" %></span>
					</td>
		
					<td>
					<span><%= i.select :payment_id, payments, {}, :class => 'select' %></span>
					</td>
		
					<td>
					<span><%= i.select :status_id, status, {}, :class => 'select' %></span>
					</td>
                </tr>
              <% end %>
          </table>
        </div>
      </li>

       <li class='textAreaDescricao'>
        <label>
          <span>Descricao</span><br/>
          <%= r.text_area :description, :class => 'textarea' %><br />
        </label>
      </li>

      <li id="btEnviarForm">
        <%= r.submit 'Salvar Recebimento' %>
        <%= link_to 'Voltar', financeiro_index_path, :id => "btVoltarForm" %>
      </li>
    </ul>
  <% end %>
</div>
